version: 2
jobs:
   build:
     working_directory: HalfdomeTestScripts/HalfdomeTest/
     docker:
       - image: java:7
     steps:
       - checkout
       - run:javac Test.java
        echo "hello world"
